h1, h2 {color:#D4ADFC;}
a:link {color:#05BFDB;}
body{
    background-color:#2A2F4F;
    color:#FDE2F3;
}
nav{background-color:#1D267D;}
nav a{color:#05BFDB;}
nav a:hover{background-color:#551A8B}
nav{
    padding: 10px;
    margin-bottom: 30px;
}